
html{

	min-height: 100%;
}

body{
	color: #eee;
	background-color: #777;	
}

/* header	*/

#header {
	height: 125px;
	background-color: #444;
}

#header a {
	float: left;
	margin: 0 10%;
}

#logo {
	color: #ccc;
	width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

/* login */

p ,#hint {
	text-align: center;
}

#login {
	width: 215px;
	height: 180px;
	margin: 20px auto;
	text-align: center;
}

#go, #logout{
	width: 70px;
	height: 30px;
	margin-top: 20px;
}

/* chat */

#chat{
	margin: 20px 10px;
	width: 100%;
}

#list{
	display: inline-block;
	width: 200px;
}

#text{
	display: inline-block;
	margin-left: 100px;
}

#send_area{
	display: inline-block;
	width: 250px;
	height: 30px;
	/*position: absolute;
	bottom: 40px;*/
}

#msg{
	width: 250px;
}

#name{
	color: blue;
}

/* tt */

#tt_area{
	margin-left: 30px;
	width: 400px;
}

#status{
	font-size: 24px;
	text-align:center;
	width:96%;	
	color: black;
}

.cell{
	float: left;
	line-height: 75px;
	font-size: 36px;
	display: inline-block;
	width: 75px;
	height: 75px;
	text-align: center;
	border: solid 1px black;
	cursor: pointer;
}

.cell:hover{
	background-color: red;
}
