
html{

	min-height: 100%;
}

body{
	color: #eee;
	background-color: #777;	
}

h1, p ,#hint {
	text-align: center;
}

#login {
	width: 215px;
	height: 180px;
	margin: 20px auto;
	text-align: center;
}

#go{
	width: 70px;
	height: 30px;
	margin-top: 20px;
}

#chat{
	float: left;
	margin: 20px 100px;
	width: 350px;
}

#text{
	margin-bottom: 100px;
	overflow: auto;
}

#send_area{
	width: 250px;
	height: 30px;
	position: absolute;
	bottom: 40px;
}

#msg{
	width: 250px;
}

#name{
	color: blue;
}