/* reset margin	*/
* {
	margin: 0;
}

body{
	color: #eee;
	background-color: #777;
}
/*accordeon init*/
section {
	display: none;
}

#intro{
	display: block;	
}

/* header	*/

#header {
	height: 125px;
	background-color: #444;
}

#header a {
	float: left;
	margin: 0 10%;
}

#logo {
	color: #ccc;
	width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

#intro_field{
	width: 80%;
	
}

/* common */
section > div {
	position: relative;
	display: inline-block;
	width: 45%;
}

.desc{
	float: left;
}

.keys {/* nice keys button	*/
	display: block;
	width: 280px;
	margin: 20px auto;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	background-color: #444; 
	color: #D9EEF7;
    cursor: pointer;
    font: 18px/100% Arial,Helvetica,sans-serif;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}

.buttons{ /*NICE GAME BUTTON*/
	margin: 20px 35%;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	background-color: #444; 
	color: #D9EEF7;
    cursor: pointer;
    font: 14px/100% Arial,Helvetica,sans-serif;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}

p {
	text-align: justify;
	padding: 0 10%;
}

/* calc	*/

#calc{
	height: 350px;
}

#calc_screen {
	font-size: 24px;
	text-align: right;
	width:98%;	
	color: black;
}

#calc_field {
	width: 300px;
	height: 300px;
	cursor: pointer;
}


.calc_button {
	padding-top: 20px;
	font-size: 24px;
	display: inline-block;
	width: 73px;
	height: 52px;
	text-align: center;
	border: solid 1px black;
}

.calc_button:hover , #cls:hover{
	background-color: #dc4;
}

#cls{
	padding: 0;
	text-align: center;
	width: 25px;
	height: 26px;
	border: solid 1px black;
	position: absolute;
	font-size: 24px;
	background-color: red;
}

/* numeric */

#nums_screen {
	font-size: 24px;
	text-align:center;
	width:98%;	
	color: black;
}

#nums_field {

	width: 350px;	
	cursor: pointer;

}

.nums_button {
	
	float: left;
	line-height: 68px;
	font-size: 24px;
	display: inline-block;
	width: 68px;
	height: 68px;
	text-align: center;
	border: solid 1px black;
	background-color: white;
}

#nums_start {

}

/* tictac*/
#tictac_field {
	width: 235px;	
	cursor: pointer;
}

#tt_screen {
	font-size: 24px;
	text-align:center;
	width:98%;	
	color: black;
}

.tt_button {
	
	float: left;
	line-height: 75px;
	font-size: 36px;
	display: inline-block;
	width: 75px;
	height: 75px;
	text-align: center;
	border: solid 1px black;
}

#tt_clear {
	margin-left: 30%;
	margin-top: 20px;
}

/*logic*

#logic_done{
	display: none;
}*/

.logic_board, .play_board{
	width: 249px;
	height: 62px;
	margin: 10px 20px;
	border: 1px solid white;
}

.item, .coll_item{
	text-align: center;
	line-height: 60px;
	font-size: 48px;
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 40px;
	border: 1px solid white;
	margin :auto;
	cursor: pointer;
}

#collection {
	width: 373px;
	height: 62px;
	margin: 10px 20px;
	border: 1px solid white;
}

.answer_board{	
	width: 249px;
	height: 32px;
	margin: 10px 20px;
	border: 1px solid white;

}

.answer_item{
	text-align: center;
	line-height: 60px;
	font-size: 48px;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border: 1px solid white;
	margin-left: 20px;
	cursor: pointer;
}