/* reset margin	*/
* {
	margin: 0;
}

/* header	*/

#header {
	height: 125px;
	background-color: #444;
}

#header a {
	float: left;
	margin: 0 10%;
}

#logo {
	color: #ccc;
	width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

#intro_field{
	width: 80%;
	
}

/* common */
section > div {
	position: relative;
	display: inline-block;
	width: 50%;
}

.keys {/* nice button	*/
	display: block;
	width: 180px;
	margin: 20px auto;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	background-color: #444; 
	color: #D9EEF7;
    cursor: pointer;
    font: 18px/100% Arial,Helvetica,sans-serif;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}

p {
	text-align: justify;
	padding: 0 10%;
}

/* calc	*/

#calc{
	height: 350px;
}

section > div {
	position: relative;
	display: inline-block;
	width: 50%;
}


#calc_screen {
	font-size: 24px;
	text-align: right;
	width:98%;
	background-color: white;
	color: black;
}

#calc_field {
	width: 300px;
	height: 300px;
	cursor: pointer;
}


.calc_button {
	padding-top: 20px;
	font-size: 24px;
	display: inline-block;
	width: 73px;
	height: 52px;
	text-align: center;
	border: solid 1px black;
}

.calc_button:hover , #cls:hover{
	background-color: #dc4;
}

#cls{
	padding: 0;
	text-align: center;
	width: 25px;
	height: 26px;
	border: solid 1px black;
	position: absolute;
	font-size: 24px;
	background-color: red;
}

/* numeric */

#nums_screen {
	font-size: 24px;
	text-align:center;
	width:98%;
	background-color: white;
	color: black;
}

#nums_field {

	width: 350px;	
	cursor: pointer;
}

.nums_button {
	
	float: left;
	line-height: 68px;
	font-size: 24px;
	display: inline-block;
	width: 68px;
	height: 68px;
	text-align: center;
	border: solid 1px black;
}

#nums_start {
	margin-left: 40%;
	margin-top: 20px;
}